body {
    overflow: hidden;
}

#game-panel {
    width: 100%;
    float: left;
    text-align: left;
}
#game-svg {
    width: 3000px;
    height: 3000px;
}

#chat-panel {
    position: absolute;
    right: 0;
    top: 0;
}
#chat-panel input {
    padding: 10px 20px;
    border: 2px solid #000;
}
#chat-panel button {
    padding: 10px 20px;
    background: #222288;
    color: #fff;
    border-radius: 4px;
}